html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* alinear los elementos al centro, centro */
  align-items: center;
  justify-content: center;
}

#contenedor {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0;
}

#contenedor>* {
  margin: 0;
}

.axis-label {
  font-weight: bolder;
}

/* Establecer un valor menor de z-index para las líneas */
line {
  opacity: 0.5;
}